* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: #DAE1E7;
}


html { 
    box-sizing:border-box;
}
  
*, *:before, *:after{
    box-sizing: inherit;
}

/****************************** Universal ***************************/

p {
    font-size: 1rem;
}

.text-white {
    color: #fff;
}

.text-light {
    color: #A1A9B9;
}

.text-grey{
    color: #424651
}

.padding1rem {
    padding: 2rem 0rem;
}

.padding-box {
    padding: 1rem;
    border-radius: 9px;
}

.flex {
    display: flex;
    align-items: center;
}

.image {
    width: 65%;
    border-radius: 5rem;
}

.background-white {
    background-color: #fff;
}

/*********************** Container **********************************/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/******************************** One ***************************/

.testimonials-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 85%;
    gap: 1rem;
}

.one {
    background-color: #733FC8;
    grid-column: 1/3;
    background-image: url("/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 75% top;
}

.image-daniel img{
    border: 3px solid #A880E7;
}

/****************************** Two *******************************/

.two {
    background-color: #49556B;
}

/* ****************************** Three ******************************/

.three {
    background-color: #fff;
    grid-column: 4/5;
    grid-row: 1/3;
}

/*********************************** Five ******************************/

.five {
    background: #18202D;
    grid-column: 2/4;
}

/**************************** Media query *****************************/

@media(max-width: 768px) {

    /************************ Container *********************/
    
    .container {
        display: unset;
    }

    /*************************** Testimonials *********************/

    .testimonials-grid {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        width: 50%;
        margin: auto;
        margin-top: 4%;
    }


    /******************************** One *************************/
    
    .one {
        grid-row: 1/3;
        grid-column: unset;
    }
    
    /******************************** Three *************************/

    .three {
        grid-column: unset;
        grid-row: 8/10;
    }

    /******************************** Four *************************/

    .four {
        grid-row: 4/6;
    }

    /******************************** Five *************************/

    .five {
        grid-column: unset;
        grid-row: 6/8;
    }
}