* {
    margin: 0; /* le saco el margen a toda mi pagina */
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif; /* estilo de texto para toda mi pagina */
    background-color: #020403;
    position: relative;
}

.header{
    background-color: #020403;
    height: 5rem;
    width: 100%;
    top: 0;
}

.nav{
    display: flex;
    justify-content:end;
    margin-right: 2rem;
}

.nav-link{
    color: #ffff;
    text-decoration: none;
}

.nav-link-menu{
    color: #adadad;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    list-style: none;
}

.nav-menu-item{
    font: 18px;
    margin: 0 30px;
    line-height: 5rem;
    width: max-content;
}

.color{
    color: #ffff;
}

.nav-toggle{
    background:none;
    border: none;
    display: none;
    cursor: pointer;
    padding-top: 14px;
    position: absolute;
}
.abuelo{
    position:relative;
    width: 100%;
}

.abuelo .banner{
    z-index: 100;
}

.fond{
width: 100%;
position: absolute;
}

.fond1{
    text-align: right;
    position: absolute;
    right: 0;
}

.img{
    width: 40%;
    z-index: 800;
}

.abuelo .contenedor{
    /* position: absolute; */
    display: flex;
    justify-content: center;
/*     left: 50%;
    transform: translatex(-50%) translateY(-50%); */
    background-color: transparent;
}

.contenedor2{
    color: #adadad;
    text-align: center;    
}

.contenedor, h1{
    color: #ffff;
    font-size: 330%;
}

.contenedor, h2{
    font-size: 220%
}

.h2{
    font-size: 220%;
    color: #adadad;
   /*  display: inline-block; */
    border-top: 10%;
    display:inline;
    z-index: 300;
    margin: 10%;
}

.alFondo{
    z-index: 1;
}

.tamaño{
    width: 30%;
}

.contenedor3{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 800;
}
.contenedor3, div.fondo{
    width: 100%;
    z-index: 600;
    position: relative;
    top:50%;
    display: flex;
}

.icon{ 
    width: 40px;
    z-index: 700;
    margin-right: 3%;
}

.padre{
position: relative;
}

.contenedor4 .fondo{
display: flex;
}

.contenedor5{
    color:#ffff;
    padding-right: 10%;
    padding-left: 10%;
}

.contenedor6{
   width: 100%;
   margin-bottom: 20%;
   position: relative;   
}

.h2-colorTamañoPosi{
    position: absolute;
    font-size: medium;
    margin-left: 7%;
    margin-top: 3rem;
    padding: 0;
    color: #929292;
}

.circulo{
    position: absolute;
    right: 0;
    width: 23%;
    max-width: 26%;
}

.p{
    color: #adadad;
    text-align: center;
    font-size:large;
}


.habilidades {
    width: 100%;
}

.logo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    justify-content: center;
}
.logo{
    padding: 12px;
    margin: 12px;
    border-radius: 49%;
    border-color: #242323;
    border: solid;
    background-color: #242323;
}

.logo2{
    padding: 26px;
    margin: 12px;
    border-radius: 49%;
    border-color: #242323;
    border: solid;
    background-color: #242323;
}

.logo3{
    padding: 15px;
    margin: 12px;
    border-radius: 49%;
    border-color: #242323;
    border: solid;
    background-color: #242323;
}

.logo4{
    padding: 15px;
    margin: 12px;
    border-radius: 49%;
    border-color: #242323;
    border: solid;
    background-color: #242323;
}

.nombres-habilidades{
    font-size: 15px;
}

.margin-top{
    margin-top: 30px;
}

.experience {
    width: 80%;
    margin: auto;
}

.experience-title {
    margin-right: 12%;
    padding: 2rem 0rem;
    color: #adadad;
}
.flex-wizeline, .flex-microsoft, .flex-google {
    display: flex;
    gap: 3rem;
    width: 100;
    margin: auto;
    padding: 0.4rem;
}
.flex-wizeline, .flex-microsoft {
    border-bottom: 1px solid #adadad;
}
.color-gray-light {
    color: #929292;
}

.posicion-titulo{
    margin-left: 10%;
}

.portafolio{
    margin-left: 10%;
    margin-right: 10%;
}
.fotos-grid{
    display: grid;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 4rem;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3rem;
    justify-content: center;
}

.centrar-elementos{
    justify-content: center;
    margin: auto;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    column-gap: 1rem;
    justify-content: center;
}

.phone{
    justify-content: center;
    margin-left: 30%;
    border: solid #adadad 1px;
    padding: 18px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.mail{
    justify-content: center;
    border: solid #adadad 1px;
    padding: 18px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30%;
}

.text-contac{
    text-align: center;
}

.hecho{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

@media (min-width: 768px) {

    .fotos-grid {
        grid-template-rows: unset;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
    }
    
    .fotos{
        width: 100%;
    }

    .img{
        width: 250px;
        margin-top: 8%;
        margin-bottom: 30px;
        z-index: 800;
   }

   .logo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    justify-content: center;
    }

    .contenedor6{
        width: 100%;
        margin-bottom: 10%;
        position: relative;   
     }

    .experience-title {
        text-align: center;
        padding: 2rem 0rem;
        color: #adadad;
        margin-right: 0;
    }
    
    .flex-wizeline, .flex-microsoft, .flex-google {
        display: flex;
        gap: 13rem;
        width: 100;
        margin: auto;
        padding: 0.4rem;
        margin-left: 15%;
        margin-right: 15%;
    }

    .posicion-titulo{
        text-align: center;
        margin-left: 0;
    }

} 


@media (max-width: 768px){
    .header {
        height: 3.5rem;
    }
  
    .nav-menu{
        flex-direction: column;
        align-items: center;
        background-color: #020403;
        position: fixed;
        padding: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        top: 50px;
        overflow-y: auto;
        z-index: 999;
    }
    
    .nav-menu-item{
        font: 18px;
        margin: 0 20px;
        line-height: 4rem;
        width: max-content;
    }
    .nav-toggle{
       display: block;
       cursor: pointer;
       
    }
    .nav-menu_visible{
        left:0;
    }

    .fotos{
        width: 80%;
}

  
}